<!doctype html>
<html lang="en">
<head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>

<div class="container" ng-app="ShoppingListCheckOff">
    <div class="row">

        <div class="col-md-6" ng-controller="ToBuyShoppingController as toBuyCtrl">
            <h2>To buy:</h2>
            <ul ng-show="toBuyCtrl.toBuyList.length > 0">
                <li ng-repeat="item in toBuyCtrl.toBuyList">
                    Buy {{ item.quantity }} {{ item.name }}
                    <button class="btn btn-primary btn-sm" ng-click="toBuyCtrl.buy(item)">
                        <span class="glyphicon glyphicon-ok"></span> Bought
                    </button>
                </li>
            </ul>
            <div ng-show="toBuyCtrl.toBuyList.length == 0">Everything is bought!</div>
        </div>
        
        <div class="col-md-6" ng-controller="AlreadyBoughtShoppingController as alreadyBoughtCtrl">
            <h2>Already bought:</h2>
            <ul ng-show="alreadyBoughtCtrl.alreadyBoughtList.length > 0">
                <li ng-repeat="item in alreadyBoughtCtrl.alreadyBoughtList">Bought {{ item.quantity }} {{ item.name }} </li>
            </ul>
            <div ng-show="alreadyBoughtCtrl.alreadyBoughtList.length == 0">Nothing bought yet.</div>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div>
                <span class="glyphicon glyphicon-info-sign"></span>
                <a href="https://github.com/vria/coursera-angular/tree/assignment2" target="_blank">
                    You are welcome to check the code here
                </a>
            </div>
            <div>
                <span class="glyphicon glyphicon-info-sign"></span>
                <a href="https://github.com/jhu-ep-coursera/fullstack-course5/blob/master/assignments/assignment2/Assignment-2.md" target="_blank">
                    Assignment Instructions
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
