<!doctype html>
<html lang="en">
<head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="NarrowItDownApp">

<div class="container" ng-controller="NarrowItDownController as narrowItDown">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
        <input type="text" ng-model="narrowItDown.searchTerm" placeholder="search term" class="form-control">
    </div>
    <div class="form-group narrow-button">
        <button class="btn btn-primary" ng-click="narrowItDown.doNarrow()">Narrow It Down For Me!</button>
        <button class="btn btn-primary" ng-click="narrowItDown.clear()">Clear</button>
    </div>

    <div class="clearfix"></div>

    <div found-items="narrowItDown.found" on-remove="narrowItDown.removeItem(index)"></div>
</div>

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div>
                <span class="glyphicon glyphicon-info-sign"></span>
                <a href="https://github.com/vria/coursera-angular/tree/master/assignment3" target="_blank">
                    You are welcome to check the code here
                </a>
            </div>
            <div>
                <span class="glyphicon glyphicon-info-sign"></span>
                <a href="https://github.com/jhu-ep-coursera/fullstack-course5/blob/master/assignments/assignment3/Assignment-3.md" target="_blank">
                    Assignment Instructions
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
